*.o
*.lo
*.a
*.la
*.pc
*.log
/humextra/external/pcre-7.9/.libs/
/humextra/external/pcre-7.9/.deps/
/humextra/bin/

/toolkit/src/rid/rid_
/toolkit/src/mkern/mkern
/toolkit/src/midi/midi
/toolkit/src/humdrum/humdrum_
/toolkit/src/assemble/assemble

/humextra/external/pcre-7.9/stamp-h1
/humextra/external/pcre-7.9/pcretest
/humextra/external/pcre-7.9/pcregrep
/humextra/external/pcre-7.9/pcrecpp_unittest
/humextra/external/pcre-7.9/pcre_stringpiece_unittest
/humextra/external/pcre-7.9/pcre_scanner_unittest
/humextra/external/pcre-7.9/pcre_chartables.c
/humextra/external/pcre-7.9/pcre-config
/humextra/external/pcre-7.9/Makefile
/humextra/external/pcre-7.9/libtool
/humextra/external/pcre-7.9/config.status
/humextra/external/pcre-7.9/config.h